<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<header class="header2" id="header2">
      <meta charset="UTF-8">
    <nav role="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar-collapse-02" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Verbundene Clienten!</a></li>
                    <li class="active"><a href="/updates">Updatehistorie</a></li>
                    <li class="active"><a href="/availUpdates">Verfügbare Updates</a></li>
                    <li class="active"><a href="/download">Downloads</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="intro center-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div class="text-left">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ip</th>
                                <th>Updatename</th>
                                <th>Updateversion</th>
                                <th>Pruefsumme</th>
                                <th>Link</th>
                                <th>Befehl</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set counter = 0 %}
                            {% for x in fullpackage %}
                                <tr class="info">
                                    {% for y in x %}
                                        <td>{{ y }}</td>
                                    {% endfor %}
                                </tr>
                             {% set counter = counter + 1 %}
                            {% endfor %}

                            </tbody>
                        </table>


                    </div>

                </div>

            </div><!-- row -->

        </div><!-- intro -->

    </div><!-- container -->

</header><!-- header -->

</html>